
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                     <h2>register into restaurent app</h2>
                </div>
                 <hr>

                    <form [formGroup]="signupForm" (ngSubmit)="signIn()">
                             <div class="mb-3">
                                <label  class="form-label">Name</label>
                                <input formControlName="name" type="text" class="form-control"  aria-label="name">
                                <div class="text-danger" *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name')">*name is required</div>
                              </div>

                              <div class="mb-3">
                                <label  class="form-label">Mobile number</label>
                                <input formControlName="mobile" type="text" class="form-control"  aria-label="mobile number">
                                <div class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*mobile is required</div>
                              </div>
                              
                        <div class="mb-3">
                          <label  class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control"  aria-describedby="emailHelp">
                          <div class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','mobile')">*email Id is required</div>
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                          <label  class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <div class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*password is required</div>
                        </div>
                        
                        <button type="submit" [disabled]="!signupForm.valid"   class="btn btn-primary">Signup</button>
                      </form>

                      <a routerLink="/login">Already registered ? click to login !</a>
            </div>
        </div>
    </div>
</div>

